*{background: #E5E5E5;
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
}

.logo{
    padding-top: 10px;
    margin-left: 80px;
    width: 3%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.area-de-texto{
    border: none;
    color: blue;
    margin-top: 18px;
    text-transform: lowercase;
}

::placeholder{
    color: blue;
}

.area-de-texto:focus{
    outline: none;
}

.mensaje{
    background: white;
    background-image: url(imagenes/Muñeco.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 20px;
    color: blue;
    margin-left: 95px;
    margin-top: 18px;
    padding-left: 20px;
    position: fixed;
    height: 70%;
    
}

.mensaje:focus{
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.boton-desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 20px;
    color: #0A3871;
    cursor: pointer;
    height: 55px;
    margin-left: 50px;
    width: 328px;
    outline: none;
    transition: 300ms;
    box-shadow: 5px 5px #0A3871;
}

.boton-desencriptar:hover{
    opacity: 0.3;
}

.boton-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    height: 55px;
    width: 328px;
    outline: none;
    transition: 300ms;
    box-shadow: 5px 5px black;
}

.boton-encriptar:hover{
    opacity: 0.3;
}

.boton-copiar{
    border: 1px solid #0A3871;
    border-radius: 20px;
    color: #0A3871;
    cursor: pointer;
    height: 55px;
    margin-left: 128px;
    margin-top: 428px;
    position: absolute;
    width: 236px;
    outline: none;
    transition: 300ms;
    box-shadow: 5px 5px #0A3871;
}

.boton-copiar:hover{
    opacity: 0.3;
}

.informacion{
    font-size: 15px;
    color: #495057;
    padding: 5px;
}

.informacion:before{
    content: "🛈";
}

.developed{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    padding: 20px;
    margin-left: 50px;
    text-align: center;
}
